#px{
    margin:5%;
    background-image: url(../img/sfondo.png);
}
#logo{
    background-color: rgb(31, 149, 173);
    text-align: center;
    width: 470px;

    

}
#titolo{
    font-size: 33px;
}
.class ul{
    list-style: none;
    color: #fffefe;
}
#pbianco{
    color:#ffffff;
}
#marginehome{
    background-color: white;
    width: 470px;
    text-align: center;
}
#coloreadress{
    opacity: 0.3;
    
}
#divbianco{
    background-color: rgb(188, 186, 186);
    display: inline-block;
    border-radius: 5px;
}
#divbianco2{
    background-color: rgb(188, 186, 186);
    display: inline-block;
    border-radius: 5px;
}
#divbianco3{
    background-color: rgb(188, 186, 186);
    display:inline-block;
    border-radius: 5px;
}