@mixin dark{
    background-color:black;
    
}

@mixin white{
    color:white;
}

@mixin padding{
    padding-left:25px;
    padding-right:25px;
}

@mixin grandezzah2{
    font-size:18px;
}
.emoticonbelle{
    padding-left: 5px;
}