@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixin";

body {
    @include dark;
}

.navbar {
    @include padding;
    ul {
        li {
            a {
                @include white;
            }
        }
    }
}


.form-select {
    background-color: black;
}

.mini-form h2 {
    color: white;
    padding-bottom: 15px;
}

.containerimmagini1 h2,
.containerimmagini2 h2,
.containerimmagini3 h2 {
    @include grandezzah2;
    color: white;
}

.main {
    @include padding;
}

footer {
    opacity: 0.4;
    @include dark;
    padding-top: 150px;
    padding-left: 200px;
    padding-right:200px;
    .emoticon {
        padding-bottom: 20px;
        i {
            font-size: 1.7em;
        }
    }
    .row {
        .col {
            margin-bottom: 10px;
        }
    }
    button {
        background-color: black;
        border: 1px solid white;
        color: white;
    }
    @media (max-width: 350px) {
        display: none;
    }

    @media (min-width: 321px) and (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}
    
.section h1{
    color:white;
}
.form-select{
    .class{
        padding-top: 50px;
    }
    
}