@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixin";

body {
    @include dark;
}

.navbar {
    @include padding;
    ul {
        li {
            a {
                @include white;
            }
        }
    }
}


.form-select {
    background-color: black;
}

.mini-form h2 {
    color: white;
    padding-bottom: 15px;
}

.containerimmagini1 h2,
.containerimmagini2 h2,
.containerimmagini3 h2 {
    @include grandezzah2;
    color: white;
}

.main {
    @include padding;
}

footer {
    opacity: 0.4;
    @include dark;
    padding-top: 150px;
    padding-left: 200px;
    padding-right:200px;
    .emoticon {
        padding-bottom: 20px;
        i {
            font-size: 1.7em;
        }
    }
    .row {
        .col {
            margin-bottom: 10px;
        }
    }
    button {
        background-color: black;
        border: 1px solid white;
        color: white;
    }
    @media (max-width: 350px) {
        display: none;
    }

    @media (min-width: 321px) and (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}
    
.section h1{
    color:white;
}
.form-select{
    .class{
        padding-top: 50px;
    }
    
}
.containerimmagini1{
    img{
        @include effettohover
    }
}

.containerimmagini2{
    img{
        @include effettohover
    }
}

.containerimmagini3{
    img{
        @include effettohover
    }
}

//seconda pagina


main {
    section {
      .custom-wrap {
        padding: 1.25rem;
        background-color:black;
        .display-4 {
          margin-bottom: 1.1rem;
        }

        .col-12 {
          img {
            max-width: 100%;
          }
  
          input {
            &.form-control {
              &.fs-4 {
                background-color:red;
                color:white;
                border: 0;
                @include border-radius(0);
              }
            }
          }
  
          select {
            &.form-select {
              background-color:black;
              color:white;
              @include border-radius(0);
            }
          }
        }
  
        .bg-info {
          background-color: red;
          color:white;
        }
  
        .btn-outline-info {
          color:red;
          border-color:red;
        }
  
        .form-check {
          input {
            &.form-check-input {
              @include border-radius(0);
            }
          }
  
          label {
            &.form-check-label {
              small {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
      .btn {
        &.btn-outline-info {
          color:red;
          border-color: red;
          @include border-radius(0);
          padding: 0.5rem 2rem;
          font-size: 1.25rem;
          &.fs-5 {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .bg-info-text-red {
    background-color: red;
    color: white;
  }

  input.form-control.fs-4 {
    background-color: red;
    color: white;
    border: 0;
    @include border-radius(0);
  }


  .container{
    .custom-wrap{
        .custom-row h1{
            color:white;
            font-size: 3.2rem;
        }
    }
  }

  .col-4 label{
    color:white; 
  }

  .col-4 select{
    border-color: red;
  }

  .custom-row p {
    color:white;
  }

  .button-edit{
    
  }