<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [ngClass]="{ 'sticky-top': isSticky }">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="['/']"><img class="imglogo" src="https://us.123rf.com/450wm/themoderncanvas/themoderncanvas2308/themoderncanvas230800014/211186763-auto-sportive-auto-logo-veicolo-a-motore-sagoma-emblema-supercar-concessionaria-icona-concessionario.jpg?ver=6"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/fiat">Fiat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ford">Ford</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/audi">Audi</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
