.home-container {
  text-align: center;
}

.movie-card {
  .movie-cover {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-body {
    background-color: #2b2b2b;
    color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .card-title {
    color: #FF0000;
  }

  .btn-outline-primary {
    color: #FF0000;
    border-color: #FF0000;
  }

  .btn-outline-primary:hover {
    background-color: #FF0000;
    color: #FFFFFF;
  }
}
