.prodottoPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40%;
    background-color: #FEF7E2;
    border-radius: 15%;
    
}

.prodottoPadre img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}

.prodottoPadre h3, .prodottoPadre p:first-of-type {
    align-self: flex-start;
}

.prodottoPadre p:last-of-type {
    align-self: flex-end;
    align-content: top;
}

.button-card {
    box-sizing: border-box;
    align-self: center;
    margin-top: auto;
    margin-bottom: 5px;
    background-color: #ffdf7f;
    border-radius: 30px;
    color: #714032;
    text-decoration: none;
    padding: 7px;
    padding-left: 22px;
    padding-right: 22px;
    
}

.h4{
    margin:5px;
}